.MainPage{
    position: relative;
}
.bgImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;

 
}
.bgImage{
    width: 100%;
   
    overflow: hidden;
    max-height: 85vh;

}
.detailsBox{
    background-color: rgb(255, 255, 255);
    
    position: absolute;
    top: 2.5rem;
    left: 5rem;
    border-radius: 12px;
  
    padding: 30px;
   
    width: 380px;
    margin: 0;
}
.headding {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    width: 100%;
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;;
}
.detailsBox :nth-child(2){
    margin: 0;
    color: #000;
}
.input-button{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.select-section{
    width: 100%;
    height: 60px;
    border: 1px solid #d3d3d3!important;
    outline: 0!important;
    background-color: #fff!important;
    color: grey!important;
    border-radius: 6px!important;
    margin-top: 10px;
}
.search-button{
    width: 100%;
     margin-top: 10px;
      background-color: rgb(1, 43, 114);
       cursor: pointer;
       border: none;
       padding: 1rem;
       border-radius: 10px;
       color: white;
}
